<div class="wrap">
    <div class="contacts">
        <div class="container content-wrapper">
            <div class="row">
                <div class="col-xs-offset-1 col-sm-3">
                    <h3 class="contacts__title">Address</h3>
                    <hr class="contacts__line">
                    <address>

                        <strong>AJ Limousine</strong><br>
                        <span><img src="./images/pin-icon.png"></span>1400 Moline St #201 <br>Aurora, CO 80010, USA<br>
                    </address>
                </div>
                <div class="col-xs-offset-1 col-sm-3">
                    <h3 class="contacts__title">Contact Us</h3>
                    <hr class="contacts__line">
                    <address>
                        <strong>Reservations</strong><br>
                        <span><img src="./images/phone-icon.png"></span><a
                            href="tel:3038876962">303-887-6962</a><br>
                        <span><img src="./images/mail-icon.png"></span><a href="mailto:info@ajlimousine.com">info@ajlimousine.com</a>
                    </address>
                </div>
                <div class="col-xs-offset-1 col-sm-3">
                    <h3 class="contacts__title">Follow Us</h3>
                    <hr class="contacts__line">
                    <div class="social-icons">
                        <div class="icons">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="icons">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="icons">
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="btn btn-yellow">Get a quote</a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><a target="_blank" href="http://webandad.com/">© 2018 AJ Limousine . All right reserved.
                        Designed by Bidari Sambad</a></p>
                </div>
            </div>
        </div>
    </div>
</div>