<nav class="navbar navbar-default my-navbar">
    <!--<nav class="navbar navbar-default">-->
    <div class="content-wrap">
        <!-- Brand and toggle -->

        <div class="navbar-header my-navbar__header">
            <!--navbar brand-->
            <a class="navbar-brand brand" href="index.html"><h2>AJ LIMOUSINE</h2></a>
            <!--colapsed phones-->

            <!--toggle menu button-->

            <button type="button" class="navbar-toggle collapsed my-toggle" data-toggle="collapse"
                    data-target="#navbar-limousine" aria-expanded="false">
                <div></div>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!--navbar collapsed-->
        <div class="collapse navbar-collapse my-collapse" id="navbar-limousine">
            <ul class="nav navbar-nav menu">
                <li class="menu__item"><a class="menu__link" href="index.html">Home<span class="sr-only">(current)</span></a></li>
                <li class="menu__item"><a class="menu__link" href="#about">About Us</a></li>
                <li class="menu__item"><a class="menu__link" href="services.html">Services</a></li>
                <li class="menu__item"><a class="menu__link" href="#fleet">Our Fleets</a></li>
                <li class="menu__item"><a class="menu__link" href="reservation.html">Contact us</a></li>
            </ul>
            <ul class="phones hidden-xs" style="padding-top: 13px;">
                <li class="phones__item">
                    <!--<span class="phones__desc">toll free</span>-->
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a class="phones__link" href="tel:3038876962" class="tel-free">303-887-6962</a>
                </li>
            </ul>
        </div>

        <!--end collapsed-->
    </div>
    </div>
</nav>